@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: white;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imageContainer {
    display: none;
    margin-top: 35%;
  }
  
  .successText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 32%;
    color: black;
  }
  
  .extraText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 8%;
    color: black;
    word-spacing: 0.5px;
  }
  
  .confirmationText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2%;
    color: black;
    word-spacing: 0.5px;
    margin-bottom: 2%;
  }

  .continueButton {
    width: 90%;
    height: 48px;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 10px; 
    background-color: #F5F5F5; 
    color: black; 
    border: none;
    cursor: pointer;
    margin-top: 20%;
    font-weight: 600;
  }

  @media (max-width: 767px) {
    .imageContainer {
      display: block;
    }
  
    .textContent {
      display: none;
    }
  }